<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">My Eshop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('default_home') }}">Accueil</a>
                </li>

                {% if not app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('user_register') }}">Inscription</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
                    </li>
                {% endif %}

{# Pour vérifier le rôle d'un user, vous DEVEZ utiliser la fonction Twig is_granted() #}
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Espace Admin
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{{ path('show_dashboard') }}">Dashboard</a></li>
                            <li><a class="dropdown-item" href="{{ path('show_produits') }}">Gestion des produits</a></li>
                            <li><a class="dropdown-item" href="#">Gestion des membres</a></li>
                            <li><a class="dropdown-item" href="#">Gestion des commandes</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>

            <div class="me-5">
                <a class="btn btn-warning" href="{{ path('show_panier') }}"><i class="fa fa-cart-arrow-down"></i> Panier</a>
            </div>
        </div>
    </div>
</nav>